.App {
  background-color: #f0f2f5;
  min-height: 100vh;
}

.custom-tabs .nav-link {
  border-radius: 8px;
  color: #495057;
  font-weight: 500;
  padding: 10px;
}

.custom-tabs .nav-link.active {
  background-color: #0d6efd !important;
  color: white !important;
}

.shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 10px;
}